# Ignorar pastas comuns
results/
arquivos_curso
__pycache__/

# Ignorar arquivos específicos
*.log
interactive_console_output.xml
.vscode
launch.json
.zip
.html 
.pyc

# Ignorar arquivos de compilação
*.exe
*.dll
*.class